<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Insiders</title>
    <link rel="stylesheet" href="Home.css">
    <link rel="stylesheet" href="profilepage.css">
    <link rel="stylesheet" href="featured.css">
    <script defer src="featured.js"></script>
    <script defer src="Home.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    
   
    <div class="header">
        <h1>The Insiders</h1>
    </div>
    <!-- Dynamic Nav bar code -->
    <div class="header" id="navbar">
        <ul class="categories clearfix">
            <tr><a href="/Home" class="category"><i class="fa fa-home"></i> Home</a></tr>
            <span class="separator">|</span>
            <tr><a href="/subscribe" class="category">Subscribe</a></tr>
            <span class="separator">|</span>
            <tr><a href="/Articles" class="category"><i class="fa fa-book"></i> Articles</a></tr>
            <span class="separator">|</span>
            <tr><a href="#" class="category">Contact Us</a></tr>
            <span class="separator">|</span>
            <tr><a href="#" class="category">About Us</a></tr>
            <span class="separator">|</span>
            <tr>
                <a href="/profilepage2" class="category">
                    <img src="/user.png" class="user-pic" onclick="toggleMenu()">
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <div class="user-info">
                                <img src="/user.png" alt="user image">
                                <h3>James Aldrino</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </tr>

        </ul>
    </div>
          
                    
           
        
    
     
   
   <div class="section">
    <div class="section-heading">
        <h2 class="heading-title"><i class="fa fa-line-chart"></i> Most Popular</h2>
    </div>
    <div class="section-slider" id="section1">
        <div class="prev-button">
            <i class="fa fa-angle-left" id="left" aria-hidden="false"></i>
        </div>
        <div class="article-blocks">
            <!-- Article cards will be rendered here -->
        </div>
        <div class="next-button" id="next-button" id="right" aria-hidden="false">
            <i class="fa fa-angle-right"></i>
        </div>
    </div>
</div>


<div class="section">
    <div class="section-heading">
        <h2 class="heading-title"><i class="fa fa-newspaper-o"></i> Featured</h2>
    </div>
    <div class="section-slider" id="section2">
        <div class="prev-button">
            <i class="fa fa-angle-left" id="left" aria-hidden="false"></i>
        </div>
        <div class="article-blocks">
            <!-- Article cards will be rendered here -->
        </div>
        <div class="next-button" id="next-button" id="right" aria-hidden="false">
            <i class="fa fa-angle-right"></i>
        </div>
    </div>
</div>


    <a href="/login"><button class="login-button">Login</button></a>

    
    <a href="/signup"><button class="signup-button">Sign Up</button></a>
</body>
</html> 








 