<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Article</title>
    <link rel="stylesheet" href="pages.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <!-- Navbar -->
        <div class="nav-container">
            <div class="btn">
                <i class="fa fas fa-bars"></i>
            </div>
            <nav class="sidebar">
                <div class="text">Content</div>
                <ul>
                    <li><a href="#section1">Outline 1 </a></li>
                    Google, renowned for its groundbreaking innovations, continues to shape the landscape of software engineering with cutting-edge technologies and progressive methodologies. One of the foremost trends defining software engineering at Google is the embrace of DevOps principles to streamline software delivery and enhance operational efficiency. Through seamless collaboration, automation, and CI/CD practices, Google's engineering teams achieve rapid iteration and high-quality product releases, fostering a culture of innovation and agility.
                    <li>
                        <a href="#section2" class="out2-btn"> Outline 2 </i>
                            Microservices architecture is fundamental to Google's software engineering strategy, empowering scalable and resilient applications. Leveraging containerization technologies like Kubernetes, Google effectively manages microservices-based applications, ensuring flexibility and scalability in deployment.
                        </a>
                    </li>
                    <li>
                        <a href="#section3"class="out3-btn"> Outline 3  </span>
                            At the forefront of AI and ML integration, Google augments software engineering processes with intelligent automation and insights. AI-powered tools optimize code quality, automate repetitive tasks, and enhance developer productivity, driving innovation and efficiency across projects.
                        </a>
                    </li>
                    <li>
                        <a href="#section4" class="out4-btn"> Outline 4 </span>
                            Google pioneers the democratization of software development through low-code/no-code platforms, empowering users with limited coding expertise to create sophisticated applications. These platforms, with intuitive interfaces and pre-built components, accelerate prototyping and deployment, fostering innovation throughout the organization.
  
      Amidst these trends, Google remains committed to pushing the boundaries of software engineering, driving progress, and shaping the future of technology with its pioneering spirit and relentless pursuit of innovation.
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
</div>
        <!-- Article container -->
        <div class="article-container" id="article-container"></div>
    

   
    <script src="page5.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

</body>

</html>
