</DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/CSS/profilepage.css">

<title>The Insiders</title>

<body>
  <div class="hero">
    <nav>
        
          
          <img src="/user.png" class="user-pic" onclick="toggleMenu()">
        <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">
            <div class="user-info">
              <img src="/user.png" alt="user image" >
              <h3>James Aldrino</h3>
              
            </div>
            <hr>

            <a href="/profilepage2" class="sub-menu-link">
              <img src="/profile.png">
              <p>Visit your profile</p>
              <span>></span>
              <p></p>
            </a>
            <a href="#" class="sub-menu-link">
              <img src="/logout.png">
              <p>Log out</p>
              <span>></span>
              <p></p>
            </a>
          </div>
        </div>


    </nav>

  </div>
  



  <script src="profilepage.js"></script>

 
</body>
</html>